@media only screen and (max-width: 480px) {

    body {
        background-position: 100%;
        background-image: url(../images/desktop/image-host.jpg);
        background-size: cover;
    }

    .pod {
        padding: 10px 0;

        padding-left: 10px;
        margin-bottom: 15px;
    }

    section.information_container { 
        margin-left: 0px;
        min-width: 0px;
        max-width: 100%;
        min-height: 80vh;
        background-color: rgb(18 23 37 / 20%);
    }

    section.brans {
        margin-left: 0px;
        width: 100%; 
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        min-width: 0px;
        max-width: none;

    }
    .brans img {
        width: 30%;
        padding: 10px;
    }

    section.information_container::after {
        background-image: none;
    }

}