body {
    padding: 0;
    background-color: #121725;
    font-family: 'Chivo', sans-serif; 
    position: relative;
    width: 100%;
}


* {
    margin-block-start: 0px;
    margin-block-end: 0px;
    margin: 0;
    padding: 0;
}

main {
    min-width: 100%;
    max-width: 100%;
}

.pod {
    padding: 80px 0;
    padding-left: 10em;
}

p {
    padding: 10px;
}

.background_image {
    transform: translate(40em, -8em);
    width: 50%;
    height: 80%;
    position: absolute;
    background-color: green;
}
section.information_container::after {
    content: "";
    background-repeat: no-repeat;
    position: absolute;
    top: 82%;
    left: 110%;
    width: 120%;
    height: 120%;
    background-image: url(../images/desktop/bg-pattern-dots.svg);
    z-index: 1;
}

section.information_container {
    background-color: #121725;
    color: #979797;
    height: 80%;
    margin-left: 10em;
    width: 60%;
    position: relative;
}

h1.title {
    text-transform: uppercase;
    color: #54E6AF;
    font-size: 2.8em;
    font-style: normal;
    font-weight: normal;
}

section.information_container p, h2, h1 {
    padding-left: 10px;
}

input.text_box {
    background-color: #2C344B;
    color: white;
    border: none;
    border-radius: 25px;
    width: 70%;
    margin-left: 10px;
    padding: 15px;
}

input.text_box:hover {
    outline: none;
}

#username {
    margin-bottom: 20px;
}

#error {
    font-size: 5px;
    visibility: hidden;
}

.button_rules {
    background-color: #54E6AF;
    margin-top: 10px;
    margin: 10px;
    width: 120px;
    padding: 10px;
    border-radius: 25px;
    border: none;
    font-style: normal;
    font-weight: 900;
    color: #121725;
    font-size: 0.7em;
}

.button_rules:hover { 
    background-color: #B3FFE2;
}

.login_screen {
    display: flex;
    flex-direction: column;
}

section.brans {
    margin-left: 10em;
    max-width: 60%;
    display: flex;
    justify-content: space-between;
    margin-top: -1em;
}

section.brans img {
    z-index: 1;
    height: 100%;
}



.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 10px;
}

.search-results {
    display: flex;
    padding: 20px;
    flex-wrap: wrap;
}

.card-image {
    background-color: #54E6AF;
    border-radius: 25px;
    width: 160px;
    height: 160px;
}

.card p {
    margin-block-start: 0px;
    margin-block-end: 0px;
}
.podcast_title {
    font-weight: bold;
    font-size: 18px;
    line-height: 28px;
    color: white;
    padding: 5px;
}
@media only screen and (min-width: 540px) and (max-width: 1025px) {
    body {
        background-image: url(../images/tablet/image-host.jpg);
        background-position: right 100%;
        background-size: contain;
    }
    .pod {
        padding: 10px 0;
        margin-left: 0px;
        margin-bottom: 60px;
        padding-left: 25px;
    }

    section.information_container {
        margin-left: 0px;
        min-width: 0px;
    }

    section.brans {
        margin-left: 0px;
        min-width: 0px;    
    }


    .search-results {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
    section.information_container::after {
        background-image: none;
    }
}
@media only screen and (max-width: 480px) {

    body {
        background-position: 100%;
        background-image: url(../images/desktop/image-host.jpg);
        background-size: cover;
        
    }

    .pod {
        padding: 10px 0;

        padding-left: 10px;
        margin-bottom: 15px;
    }

    section.information_container { 
        margin-left: 0px;
        min-width: 0px;
        max-width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        min-height: 80vh;
        background-color: rgb(18 23 37 / 20%);
    }

    section.brans {
        margin-left: 0px;
        width: 100%; 
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        min-width: 0px;
        max-width: none;

    }
    .brans img {
        width: 30%;
        padding: 10px;
    }

    section.information_container::after {
        background-image: none;
    }
    .search-results {
        display: flex;
        padding: 5px;
        justify-content: center;
        flex-wrap: wrap;
    }
}